
.env
backend-symfony/.env
backend-symfony/.env.local
backend-symfony/.env.*.local
backend-symfony/config/secrets/prod/prod.decrypt.private.php
backend-symfony/public/bundles/
backend-symfony/var/
backend-symfony/vendor/


frontend-angular/.env
frontend-angular/.env.local
service-go/.env
service-go/.env.local

# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
frontend-angular/dist
frontend-angular/tmp
frontend-angular/out-tsc
frontend-angular/bazel-out

# Node
frontend-angular/node_modules
frontend-angular/npm-debug.log
frontend-angular/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
